*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body{
	position:relative;
	margin:0;
	padding:0;
}

nav{
	margin:0;
	padding:0;
}
.navbar{
	position:sticky;
	top:0;
	background:#fafaf2;
	z-index:22;
	margin-bottom:0;
}

.navbar ul li a{
	font-family: 'Montserrat', sans-serif;
	display: block;
    text-align: center;
	color:#333333;
	font-size: 14px;
	font-weight:bold;
	text-transform:uppercase;
}
.navbar-brand{
	color:#fd7e14;
	font-size:20px;
	margin-top:-11px !important;
}
.navbar-brand:hover{
	color:#fd7e14 !important;
}
.navbar-brand span{
	font-size:30px;
	color:#0E617D;
	margin-left:0px;
}
.navbar ul li a:hover, 
.navbar ul li a:focus {
    color:#0E617D;
}
.navbar ul li.active a{
	color:#0E617D;
}
#left_nav ul a{
	text-decoration:none;
	margin-left:5px;
	color:#fff;
	font-size:15px;
	padding:2px;
}
#left_nav ul i{
	margin-right:2px;
}
#right_nav ul a{
	font-size:17px;
	color:#fff;
	display:block;
	padding:0px 4px 0px 4px;
}
#right_nav ul a:hover{
	color:#fff;
	background-color:#333;
	padding:0px 4px 0px 4px;
	/*margin:2px;*/
	-webkit-border-radius: 50%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius:50%;
}
.navbar-header a{
	font-size:20px;
}


ul{
	margin:0;
	padding:0;
}

#showcase__note{
	transform:translate(10%, 8%);
}

#myBtn{
	margin-top:30px;
}
#showcase h1{
	text-align:center;
	font-size:40px;
	font-weight:bold;
	color:rgba(0,0,0,.8);
	margin-top:120px;
}

#showcasetext{
	margin-top:7em;
}
#showcasetext h2 span{
	font-size:30px;
	color:rgba(0,0,0,.7.1);
}
#showcasetext p{
	text-align: justify;
	color:#333 !important;
}
.thumbnail{
	margin-top:-8em;
	background:#0E617D;
	width:330px;
	opacity: 1;
	transform: scale(1,1);
	transition:all 0.3s ease-in-out 0s;
}
.thumbnail img{
	padding:40px 40px 3px;
	
}
.thumbnail:hover{
	transform: scale(1.1,1.1);
	opacity:1.2;
}
.thumbnail .caption p{
	color:#fff;
}
.caption p{
	color:#333;
}


#muted-text{
	color:#333;
}


#showcase{
	width: 100%;
	height: 500px;
	background-image: url(../img/imageedit.jpg);
	background-size: 100% 100%;
}




#thumb{
	position:absolute;
	margin-top:-30px;
}

#boxes1{
	margin-bottom: 3em;

}

#fiximg{
	margin-top:2em;
	background:url(../img/gettyimages-913394714.jpg);
	background-repeat: :no-repeat;
	background-size:cover;
	background-attachment: fixed;
	padding-top:200px;
	padding-bottom:170px;
	text-align: center;
	color:#fff;
	font-size:40px;

}
#testimonial{
	margin-top:2em;
}
#testimonial h2{
	color:rgba(0,0,0,.8);
	font-weight:bold;
	margin-top:2.5em;
	text-align:center;
}

#gallary{
	margin-top:3em;
}
#gallary h2{
	color:rgba(0,0,0,.8);
	font-weight:bold;
	margin-top:3em;
}


#carousel .item img,h4,p{
	margin:auto;
	text-align:center;
	line-height:2em;
}
#carousel .item img{
	width:11%;
	height:15%;

}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

#caption_p{
	margin-top:1em;
}

#caption_p p{
	margin-right:10em;
	color:rgba(#333,4);

}

#text p{
	font-size:17px;
	text-align: justify;
	color:#333;

}
#team h2{
	color:rgba(0,0,0,.8);
	font-weight:bold;
	margin-top:3em;
}
#services{
	padding-bottom:60px;
}
#contact{
	width:100%;
	box-shadow:5px 10px 10px #555;
	position:relative;
	z-index:2;
}
#form-wrap{
	border:2px solid rgba(255,255,255,0.04) !important;
	margin:0px 0px 40px 30px;
	padding:30px 30px 60px 30px;
	z-index:2;
	background-color:#0E617D;
	opacity:.8;
}
#form-wrap .form-group label{
	color:#fff;
}
#image h2{
	color:rgba(0,0,0,.8);
	font-weight:bold;
	margin-top:1.8em;
	text-align:center;
}
#image img{
	padding:40px;
	margin:30px;
}
#image .col-md-7{
	margin-top:10px;
	padding:60px;
}
#image .col-md-7 #e_msg{
	margin-bottom:20px;
	padding:0px;
	background:rgba(12, 38, 79,.002);
	color:#fff;
	text-align: center;
	font-size: 10px;
	transition:all 0.5s ease;
}
footer{
	background:#0E617D;
	color:#F2F3F4 ;
	border-bottom:1px solid #F2F3F4;
	padding:10px;
}
footer a{
	color:inherit;
}
footer a:hover,
a:focus{
	color:rgba(0,0,0,.6);
	text-decoration: none;
}
footer h3{
	font-weight:bold;
}
footer p{
	text-align: justify;
	color:#fff;
}

footer button{
	background:#0E617D;
	color:#F2F3F4;
	border-radius:1px;
}
#footer{
	background:#0E617D;
	color:#F2F3F4;
	height:70px;
}
#footer__left{
	margin-left:35px;
	margin-top:20px;
}
#footer__right{
	float:right;
	margin-top:20px;
}

@media(max-width:990px){
	.thumbnail{
		width:100%;
		margin-bottom:140px;
	}
	
	#caption_p{
		margin-right:20px;
		
	}
	#caption_p p{
		margin:10px;
	}
	#text{
		margin-left:20px;
	}
	#image img{
		width:800px;
		margin:auto;
	}
}

@media(max-width:1110px){
	.navbar ul{
		margin-right:3px;
	}
	
}
@media(max-width:980px){
	.thumbnail img{
		padding:25px 25px 5px 25px;
	}
	#showcasetext{
		margin-top:0px;
	}
	#caption_p img,p{
		width:100%;
	}
	#image .col-md-7 input{
		width:115%;
	}
	#image .col-md-7 textarea{
		width:115%;
	}
	#image .col-md-7 button{
		margin-right:150px;
		margin-top:20px;
	}
	#image .col-md-7{
		margin:10px 0px 30px 65px;
		padding:40px;

	}
	#form-wrap{
		width:100%;

	}
	#form-wrap input[type=text]{
		width:100%;
	}
	#form-wrap textarea[type=text]{
		width:100%;
	}
	#form-wrap button[type=submit]{
		margin-right:0px !important;
	}
}

@media(max-width:768px){
	#showcase__note h1{
		text-align: center;
		font-size:32px;
	}

	button .icon-bar{
		background:#0E617D;
	}
	.thumbnail{
		width:100%;
		display: flex;
		align-items: center;
		text-align:center;
		margin:-80px auto 100px !important;
		
		
	}
	
	#showcasetext h2,p{
		margin:10px 10px 20px;
	}
	#boxes1{
		margin-top:10px;
	}

	#caption_p img,p{
		width:100%;
		margin:10px 10px 0px;
		text-align: center
	}
	#text p{
		margin:0px;
	}
	#image img{
		width:100%;
		height:50%;
	}
	#image .col-md-7{
		margin:auto 30px 5px -20px;
	}
	#form-wrap{
		width:100%;

	}
	#form-wrap input[type=text]{
		width:100%;
	}
	#form-wrap textarea[type=text]{
		width:100%;
	}
	#form-wrap button[type=submit]{
		margin-right:0px !important;
	}
	
	footer{
		display:flex;
		flex-wrap:wrap;
		align-content: space-around;
	}
	#footer{
		overflow:hidden;
	}
	
	.navbar-header .navbar-brand{
		float:left;
		left:0;
	}
}












